<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Pushpendra Jain</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <p>Bharat Covid-19 Tracker is my basic api based project. Created just for fun and to explore my knowledge of making a simple angular application</p>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>The secret of getting ahead is getting started</h3>
        <footer>
          -- Mark Twain
        </footer>
      </blockquote>
    </mat-card>
  </div>
</div>
