<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          B-80 A,<br>
          Kirti Nagar,<br>
          Tonk Road,<br>
          Rajasthan<br>
          India<br>
          <i class="fa fa-phone"></i>: <a href="tel:+91 82338 10462">+91 82338 10462</a><br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:jain.pushpendra325@gmail.com">Pushpendra Jain</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+918233810462"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button href="mailto:jain.pushpendra325@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        </div>
    </div>
  </div>
</div>
